.topPart {
  position: relative;
  top: -23px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(53, 167, 167);
}

.guide-card {
  min-height: 120px;
  background-color: rgb(243, 239, 239);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-container ul li {
  list-style-type: none;
}
.box-container ul li  span {
  color: rgb(79, 82, 84);
}
.box-container ul li a {
  text-decoration: none;
  color: rgb(8, 100, 100);
  font-size: 20px;
}
.image-card {
  text-align: center;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-card-body-wayside {
  width: 10rem;
  height: 10rem;
  border: 2px solid rgb(115, 107, 107);
  border-radius: 50%;
  background-color: rgb(99, 191, 160);
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-card-body {
  width: 9rem;
  height: 9rem;
  border: 2px solid rgb(132, 129, 129);
  border-radius: 50%;
}
.image-card-body img{
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}
.doctor-appointment:hover {
  color: #fff;
}
