<div class="wrap">
  <div class="container-fluid topPart">
    <div class="info">
      <p>
        Shiforni izlash
      </p>
    </div>
  
    <div class="time">
      <p>
        12:23:56
      </p>
    </div>
  </div>

  <div class="guide-card">
    Bosqichlar bo'ladi
  </div>

 
    <c-row [gutter]="3" class="mt-3" [md]="3" [sm]="2" [xs]="1">
      <c-col *ngFor="let doctor of doctors; index as i;">
        <c-card class="h-100 box-container">
          <div class="image-card p-2">
            <div class="image-card-body-wayside">
              <div class="image-card-body">
                <img  class="img-fluid" src="{{ doctor.image }}">
              </div>
            </div>
          </div>        
          <c-card-body class="">
            <h2 cCardTitle class="text-center">{{ doctor.name }}</h2>
             <ul>
               <li>
                  <span>Lavozimi: </span> {{ doctor.position }}
               </li>
               <li>
                 <span>Tibbiyot muasssasi: </span>
                  <a href="">{{ doctor.medicalPlace }}</a>
               </li>
               <li>
                 <span>Manzil: </span> {{ doctor.address }}
               </li>
               <li>
                 <span>Mutaxassisligi: </span> {{ doctor.speciality }}
               </li>
             </ul>
          </c-card-body>
          <c-card-footer class="text-center">
            <a href="http://"  
               class="btn btn-outline-info doctor-appointment"
               [routerLink]="['/doctors', 'info']"
               [queryParams]="{ doctor_id: doctor.id }">
              Shifokor qabuliga yozilish
            </a>
          </c-card-footer>
        </c-card>
      </c-col>
    </c-row>
</div>
