<div class="doctor-details">
  <div class="container-fluid topPart">
    <div class="info">
      <p>
        Shifokorni izlash
      </p>
    </div>
  
    <div class="time">
      <p>
        12:23:56
      </p>
    </div>
  </div>

  <c-row>
    <c-col [md]="3" [sm]="6" [xs]="12">
        <div class="image-card">
          <img src="{{ selectedDoctor.image}}" class="img-fluid" alt="Doctor image">
        </div>
    </c-col>
    <c-col [sm]="6" [xs]="12">
      <div class="info d-flex flex-column justify-content-center">
        <h2>{{ selectedDoctor.name}}</h2>
        <p> Mutaxassisligi: 
          <span> {{ selectedDoctor.speciality }}</span> 
        </p>

        <p> Lavozimi:
          <span> {{ selectedDoctor.position }}</span> 
        </p>

        <p> Tibbiyot muasssasi:
          <span> {{ selectedDoctor.medicalPlace }}</span> 
        </p>
        <p> Reyting:
          <span> {{ selectedDoctor.rating }}/5</span> 
        </p>
      </div>
    </c-col>
    <c-col [sm]="3" [xs]="12">
        <a href="/#/doctors/select" class="btn btn-info">Boshqa shifokor tanlash</a>
    </c-col>
  </c-row>

  <div class="data mt-4">
    <div class="text-center">
      26-May 27 May 2022
    </div>

    <table cTable bordered>
      <thead cTableColor="secondary">
        <tr>
          <th scope="col">Clock icon</th>
          <th scope="col">Payshanba,26</th>
          <th scope="col">Payshanba,27</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hero of heroes; index as i">
          <td >{{ i+10}}:00</td>
          <td >
             <ul *ngFor="let minutes of ['00','12','24','36','48']; index as j">
                <li > 
                  <a href="" class="btn btn-success "> {{ i+10 }}:{{minutes}} | Talon bilan kirish </a>
                </li>
             </ul>
          </td>
          <td >
            <ul *ngFor="let minutes of ['00','12','24','36','48']; index as j">
               <li > 
                 <a href="" class="btn btn-success "> {{ i+10 }}:{{minutes}} | Talon bilan kirish </a>
               </li>
            </ul>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
 

</div>