.main.container{
  min-height: 78vh;
}

button {
  min-width: 300px;
  margin: 10px;
}
.content {
  background-color: rgb(239, 193, 201);
  padding: 170px 0;
}
.main-card {
  min-height: 78vh;
}
.main-card .main-row {
  min-height: 78vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-card .info {
  background: linear-gradient(rgba(141, 188, 228, 0.5), rgba(52, 97, 142, 0.8));
  padding: 155px 0;
}


